<h1 align="center">ROOSTER</h1>
<br><br>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <td>Name</td>
      <% @events_gist_headings.each do |heading| %>
        <td><%= heading %></td>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% @base.each do |calendar_id, summary| %>
      <tr>
        <td><%= calendar_id.split('@')[0] %></td>
        <% summary.map do |key, data| %>
            <td title="<%= GistUtils.print(@more[calendar_id][key]) %>"><%= data %><%= GistUtils.is_quarter_heading(key) ? ' %' : '' %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>

</table>
