<h1 align="center">ROOSTER</h1>
<br><br>

<table id="events_gist" data-toggle="table" data-striped="true" data-pagination="true" data-page-size="10" data-search="true" data-sortable="true">
  <thead>
  <tr>
    <th>Name</th>
    <% @events_gist_headings.each do |heading| %>
        <th><%= heading %></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @base.each do |calendar_id, summary| %>
      <tr>
        <td><%= calendar_id.split('@')[0] %></td>
        <% summary.map do |key, data| %>
            <td title="<%= GistUtils.print(@more[calendar_id][key]) %>"><%= data %><%= GistUtils.is_quarter_heading(key) ? ' %' : '' %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>

</table>

